//Colors:
$primary_color : #000;
$secondary_color : rgb(39, 39, 39);
$green_link : rgb(49, 179, 55);
$green_link_hover : rgb(37, 131, 42);
$basic_white : #fff;
$slight_white: rgb(182, 182, 182);
$color_3: rgb(190, 28, 28);
$color_3_hover: rgb(116, 20, 20);

//Breakpoint widths:
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
